<div class="main-content-overflow">
  <div class="questionnaire levels">
    <div class="row">
      <div class="col-12">
        <h2 class="ipt-title-question">Selection Persona</h2>
        <p>{{{question.content}}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form class="project-personas">
          <div class="row">
            {{#each personas as |persona|}}
              <div class="col-sm-3">
                <div class="persona-container">
                  {{#if persona.image}}
                    <div class="persona-image">
                      <img src="{{persona.imageUrl}}"/>
                    </div>
                  {{else}}
                    <div class="persona-image-default">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                  {{/if}}
                  <h3>{{persona.name}}</h3>
                  <input type="radio" name="questionnaire-persona" value="{{persona.id}}">
                </div>
              </div>
            {{/each}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="questionnaire question buttons-fixed">
  <div class="buttons row">
    <div class="col-sm-4">
      <button class="back personas-back question-back">back</button>
    </div>
    <div class="col-sm-4 col-sm-push-4">
      <button class="next personas-next question-next">NEXT</button>
    </div>
  </div>
</div>