<div class="questionnaire question">
  <div class="row">
    <div class="col-12">
      <span class="breadcrumbs">{{category.name}}{{#if iteration}} <div class="breadcrumb-separator"></div> {{iteration.name}}{{/if}}</span>
      <h2>{{question.name}}</h2>
      <p>{{{question.content}}}</p>
    </div>
  </div>
  <div class="options row">
    {{#each question._embedded.options as |option index|}}
      <div class="option-container col-sm-3">
        <div class="option-level-block block-{{@index}}"></div>
        <p class="radio-text">{{name}}</p>
        <input type="radio" name="question-options" value="{{id}}" {{#if isSelected}}checked="checked"{{/if}}>
      </div>
    {{/each}}
  </div>

  <div class="buttons row">
    <div class="col-sm-4">
      <button class="question-back">back</button>
    </div>
    <div class="col-sm-4">
      <button class="comments {{#if question.comments}}has-comments{{/if}}" data-toggle="modal" data-target="#comments-modal">Comments</button>
    </div>
    <div class="col-sm-4">
      {{#if question._embedded.options.length}}
        <button class="question-next">Don't know (yet)</button>
      {{else}}
        <button class="question-next">Next Question</button>
      {{/if}}
    </div>
  </div>
</div>
<div class="category-image-map">
  <div class="image-map-img-container">
    <img src="{{image}}"/>
  </div>
</div>
{{> comments comments=question.comments}}
