<div class="questionnaire iterations">
  <div class="iterations-container">
    <div class="row">
      <div class="col-12">
        <h2>{{category.name}} Classes</h2>
        <p>Please list the main classes of {{category.name}} in your solution (e.g. trucks, bulldozers, cranes). The {{category.name}}-related questions in the following will be repeated for each class of {{category.name}}.</p>
      </div>
    </div>
    <form class="iteration-form">
      <div class="row">
        <div class="col-sm-12">
          <h4>{{category.name}} Category</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 iteration-col">
          <input type="text" class="form-control" id="iteration1" placeholder="Your Asset Category" value="{{iterations.[0].name}}"/>
          <div class="invalid-feedback">
            At least one class is required.
          </div>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="iteration2" placeholder="Your Asset Category" value="{{iterations.[1].name}}"/>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="iteration3" placeholder="Your Asset Category" value="{{iterations.[2].name}}"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" class="form-control" id="iteration4" placeholder="Your Asset Category" value="{{iterations.[3].name}}"/>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="iteration5" placeholder="Your Asset Category" value="{{iterations.[4].name}}"/>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="iteration6" placeholder="Your Asset Category" value="{{iterations.[5].name}}"/>
        </div>
      </div>
    </form>
    <div class="buttons row">
      <div class="col-sm-4">
        <button class="iteration-back">back</button>
      </div>
      <div class="col-sm-4">
        <button class="comments {{#if category.comments}}has-comments{{/if}}" data-toggle="modal" data-target="#comments-modal">Comments</button>
      </div>
      <div class="col-sm-4">
        <button class="iteration-next">Next Question</button>
      </div>
    </div>
  </div>
</div>
<div class="category-image-map">
  <div class="image-map-img-container">
    <img src="{{image}}"/>
  </div>
</div>
{{> comments comments=category.comments}}