<div class="modal fade" id="word-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="word-preview-title">
        <button class="word-download">Download as word file</button>
        <span class="render-percent"></span>
        <span class="word-preview-title-text">Word File Preview</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="word-modal">
        <img src="../../assets/images/IIC-logo.png" height="40" width="97"/>
        <h2>IIC Project Explorer</h2>
        <h3 class="export-questionnaire-title">{{title}}</h3>
        <p>This summary shows how your project is rated in the main IPT categories. For each category, the average score is shown. In general, low score means few problems to be expected, high score means that in this category has a very high level of complexity and potential risks.</p>
        <h4 class="summary-label">Summary Project Assessment</h4>
        <div class="export-summary">
          {{#each values}}
            <div class="summary-scales">
              <h3 class="summary-category-title">{{category}}</h3>
              <div class="summary-content">
                <table class="table-summary-scale-container" data-score="{{answerAverage}}">
                  <tr class="scale-backgrounds">
                    <td class="table-scale-section-one"></td>
                    <td class="table-scale-section-two"></td>
                    <td class="table-scale-section-three"></td>
                    <td class="table-scale-section-four"></td>
                  </tr>
                  <tr class="scale-label">
                    <td class="table-label-section-one"></td>
                    <td class="table-label-section-two"></td>
                    <td class="table-label-section-three"></td>
                    <td class="table-label-section-four"></td>
                  </tr>
                </table>
              </div>
            </div>
          {{/each}}
        </div>
        <h4 class="summary-label">Summary Project Assessment</h4>
        <div class="export-details">
          {{#each details.data}}
            <div class="details-segment">
              <p class="summary-category">{{category}}</p>
             {{#if comments}}<p class="export-comments">Your comment: {{comments}}</p>{{/if}}
              {{#each iterations}}
                <div class="iteration-segment">
                  {{#if name}}<p class="table-summary-iteration">{{name}}</p>{{/if}}
                  {{#each questions}}
                    {{#if hasOptions}}
                      <table class="table-question-block">
                        <tr>
                          <td class="table-position-display selected-position{{position}}">
                            <span class="table-position1">&#x25cf;</span>
                            <span class="table-position2">&#x25cf;</span>
                            <span class="table-position3">&#x25cf;</span>
                            <span class="table-position4">&#x25cf;</span>
                          </td>
                            <td class="table-question-text">
                            <span class="summary-question">{{name}}</span>
                          </td>
                          <td class="table-question-right">
                            <span class="summary-selection">{{option}}</span>
                          </td>
                        </tr>
                      </table>
                      {{#if comments}}<p class="export-comments">Your comment: {{comments}}</p>{{/if}}
                    {{else}}
                      <p class="sub-category-name">{{name}}</p>
                      {{#if comments}}<p class="export-comments">Your comment: {{comments}}</p>{{/if}}
                    {{/if}}
                  {{/each}}
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="export-content">
  <img src="../../assets/images/IIC-logo.png" height="40px" width="97px"/>
  <h2>IIC Project Explorer</h2>
  <h3 class="export-questionnaire-title">{{title}}</h3>
  <p>This summary shows how your project is rated in the main IPT categories. For each category, the average score is shown. In general, low score means few problems to be expected, high score means that in this category has a very high level of complexity and potential risks.</p>
  <h4 class="summary-label">Summary Project Assessment</h4>
  <div class="export-summary-results">
    {{#each values}}
      <div class="summary-scales">
        <h3 class="summary-category-title">{{category}}</h3>
        <div class="summary-content">
          <table class="table-summary-scale-container" data-score="{{answerAverage}}">
            <tr class="scale-backgrounds">
              <td class="table-scale-section-one"></td>
              <td class="table-scale-section-two"></td>
              <td class="table-scale-section-three"></td>
              <td class="table-scale-section-four"></td>
            </tr>
            <tr class="scale-label">
              <td class="table-label-section-one"></td>
              <td class="table-label-section-two"></td>
              <td class="table-label-section-three"></td>
              <td class="table-label-section-four"></td>
            </tr>
          </table>
        </div>
      </div>
    {{/each}}
  </div>
  <h4 class="summary-label">Summary Project Assessment</h4>
  <div class="export-details-results">
    {{#each details.data}}
      <div class="details-segment">
        <p class="summary-category">{{category}}</p>
       {{#if comments}}<p class="export-comments">Your comment: {{comments}}</p>{{/if}}
        {{#each iterations}}
          <div class="iteration-segment">
            {{#if name}}<p class="table-summary-iteration">{{name}}</p>{{/if}}
            {{#each questions}}
              {{#if hasOptions}}
                <table class="table-question-block">
                  <tr>
                    <td class="table-position-display selected-position{{position}}">
                      <span class="table-position1">&#x25cf;</span>
                      <span class="table-position2">&#x25cf;</span>
                      <span class="table-position3">&#x25cf;</span>
                      <span class="table-position4">&#x25cf;</span>
                    </td>
                    <td class="table-question-text">
                      <span class="summary-question">{{name}}</span>
                    </td>
                    <td class="table-question-right">
                      <span class="summary-selection">{{option}}</span>
                    </td>
                  </tr>
                </table>
                {{#if comments}}<p class="export-comments">Your comment: {{comments}}</p>{{/if}}
                <br/>
              {{else}}
                <p class="sub-category-name">{{name}}</p>
                {{#if comments}}<p class="export-comments">Your comment: {{comments}}</p>{{/if}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>