{{#if detailedEnabled}}
  {{#if page._embedded.items.length}}
    <div class="container-fluid survey-tool-section"
      data-survey-tool-url="{{page._links.self.href}}"
      data-survey-tool-assessment-template-url="{{page._links.assessmentTemplate.href}}"
      >
      {{#each page._embedded.items as |item|}}
        <div class="container-fluid survey-tool-item"
          data-survey-tool-name="{{item.name}}"
          data-survey-tool-survey-id="{{item.id}}"
        >
          <div class="row">
            <div class="col-xs-12 survey-tool-item-name">
              {{item.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="blue-button-container feedback-toggle-container">
                <button class="user-feedback-toggle blue-button">Hide User Feedback</button>
                <select class="select-detail-level">
                  <option value="detail-level-3">Show only dimensions visible on level 3</option>
                  <option value="detail-level-2">Show only dimensions visible on level 2</option>
                  <option value="detail-level-1">Show only dimensions visible on level 1</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="results-container" data-detail-level="detail-level-3">
                <div class="results">
                  <table class="feedback">
                    {{#each item._embedded.results as |result|}}
                      <tr>
                        <td class="headcol">{{result.name}}</td>
                        {{#each result._embedded.relevantQuestions as |question|}}
                          {{> question-card card=question resultId=result.id}}
                        {{/each}}
                      </tr>
                    {{/each}}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{#unless @last}}<hr>{{/unless}}
      {{/each}}
    </div>
  {{else}}
    TODO: NO surveys available.
  {{/if}}
{{/if}}
