<div class="main-content-overflow">
  <div class="questionnaire related-readings">
    <h2 class="ipt-title results-title faded">Summary</h2>
    <h2 class="ipt-title results-title faded">Details</h2>
    <h2 class="ipt-title results-title related-readings-title">Related Readings</h2>
    <div class="row">
      <div class="col-sm-12">
        <p>The following contains a list of related readings that directly apply to your project. Using IIC's Actionable Intelligence Algorithms, we were able to create individual matches for you.</p>
      </div>
    </div>
    <div class="row">
      {{#each readings}}
        {{#if recommendationName}}
          <div class="col-sm-4">
            <div class="related-reading">
              <h3>{{name}}</h3>
              <div class="related-reading-image"></div>
              <h2>{{recommendationName}}</h2>
              <div class="star-container star-number-{{recommendation.stars}}">
                <div class="star star1">
                  <span class="star-icon"></span>
                  <span class="star-icon-remainder star-icon-remainder-{{recommendation.starRemainder}}"></span>
                </div>
                <div class="star star2">
                  <span class="star-icon"></span>
                  <span class="star-icon-remainder star-icon-remainder-{{recommendation.starRemainder}}"></span>
                </div>
                <div class="star star3">
                  <span class="star-icon"></span>
                  <span class="star-icon-remainder star-icon-remainder-{{recommendation.starRemainder}}"></span>
                </div>
                <div class="star star4">
                  <span class="star-icon"></span>
                  <span class="star-icon-remainder star-icon-remainder-{{recommendation.starRemainder}}"></span>
                </div>
                <div class="star star5">
                  <span class="star-icon"></span>
                  <span class="star-icon-remainder star-icon-remainder-{{recommendation.starRemainder}}"></span>
                </div>
              </div>
              <div class="recommend-text-container star-number-{{recommendation.textRank}}">
                <span class="recommend-text recommend-text-1">Not recommended for your project</span>
                <span class="recommend-text recommend-text-2">Potentially not good fit for your project</span>
                <span class="recommend-text recommend-text-3">Unusual tool for your project</span>
                <span class="recommend-text recommend-text-4">Potentially a good fit for your project</span>
                <span class="recommend-text recommend-text-5">Potentially a very good fit for your project</span>
              </div>
              <a class="related-read-more" data-warpjs-result-set="{{id}}">Read more</a>
              <button class="show-related-all" data-warpjs-result-set="{{id}}">All tools in this category</button>
              <div
                class="result-feedback-button-container {{recommendation.thumbValue}}"
                data-warpjs-feedback-type="result"
                data-warpjs-resultset-id="{{id}}"
                data-warpjs-result-id="{{recommendation.id}}"
                data-warpjs-submit-url="{{recommendation._links.submitFeedback.href}}"
              >
                <div class="thumbs-up result-feedback-button">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
                <div class="thumbs-down result-feedback-button">
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
  </div>
  </div>
</div>
<div class="questionnaire question buttons-fixed">
  <div class="buttons row">
    <div class="col-sm-4">
      <button class="related-reading-back">back</button>
    </div>
    <div class="col-sm-4 col-sm-push-4">
      <button class="next-to-email-form">Next</button>
    </div>
  </div>
</div>
{{> survey-tool-feedback-button feedbackUrl=feedbackUrl}}