<div class="main-content-overflow">
  <div class="questionnaire related-all"
      data-warpjs-resultset-id="{{resultSet.id}}">
    <div class="row">
      <div>{{resultSet.name}}</div>
      <div>{{resultSet.recommendationName}}</div>
      {{#if resultSet.recommendationName}}
        test
        {{#each orderedRecommendations as |orderedRecommendation|}}
          <div class="recommendation-full">
            <div class="star-container star-number-{{stars}}">
              <div class="star star1">
                <span class="star-icon"></span>
                <span class="star-icon-remainder star-icon-remainder-{{orderedRecommendation.starRemainder}}"></span>
              </div>
              <div class="star star2">
                <span class="star-icon"></span>
                <span class="star-icon-remainder star-icon-remainder-{{orderedRecommendation.starRemainder}}"></span>
              </div>
              <div class="star star3">
                <span class="star-icon"></span>
                <span class="star-icon-remainder star-icon-remainder-{{orderedRecommendation.starRemainder}}"></span>
              </div>
              <div class="star star4">
                <span class="star-icon"></span>
                <span class="star-icon-remainder star-icon-remainder-{{orderedRecommendation.starRemainder}}"></span>
              </div>
              <div class="star star5">
                <span class="star-icon"></span>
                <span class="star-icon-remainder star-icon-remainder-{{orderedRecommendation.starRemainder}}"></span>
              </div>
            </div>
            <h3>{{orderedRecommendation.name}}</h3>
            <a class="related-all-read-more" data-warpjs-result="{{orderedRecommendation.id}}">Read more</a>
            <div class="related-reading-image"></div>
            <div class="recommend-text-container star-number-{{textRank}}">
              <span class="recommend-text recommend-text-1">Not recommended for your project</span>
              <span class="recommend-text recommend-text-2">Potentially not good fit for your project</span>
              <span class="recommend-text recommend-text-3">Unusual tool for your project</span>
              <span class="recommend-text recommend-text-4">Potentially a good fit for your project</span>
              <span class="recommend-text recommend-text-5">Potentially a very good fit for your project</span>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
<div class="questionnaire question buttons-fixed">
  <div class="row buttons">
    <div class="col-sm-12">
      <a class="related-details-back">Back to Related Readings</a>
    </div>
  </div>
</div>